.sidebarcmp {
  background-color: #f8f9fa !important;
}

.light {
  width: 100%;
  color: #333 !important;
  border: none !important;
  position: relative;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s !important;
}

.light:hover {
  background-color: #e2e6ea !important;
  color: #0056b3 !important;
}

.light:active {
  background-color: #dae0e5 !important;
  color: #004085 !important;
}

.light::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #0056b3;
  transition: width 0.3s ease;
}

.light:hover::after {
  width: 100%;
}